<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Code for SellCrea8 Discovery Call</title>
</head>
<body>
    <p>Hello {{ username }},</p>

    <p>To set up your meeting, please use the following Meeting Code:</p>
    <strong>{{ meeting_code }}</strong>
    <p>This code is required to confirm and finalize your meeting schedule. Please enter the code when scheduling your meeting.</p>
    <p>We look forward to getting more details concerning your brief.</p>
    <p>Thank you</p>
</body>
</html>
