<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification OTP for SellCrea8</title>
</head>
<body>
    <p>Hello {{ username }},</p>
    <p>Welcome to SellCrea8!</p>
    <p>To complete your sign-up, please use the following One-Time Password (OTP) to verify your email address :</p>
    <strong>{{ otp }}</strong>
    <p>This code is valid for the next 10 minutes. If you did not request this code, please ignore this email. </p>
 <p>Thank you for joining our community! </p>
</body>
</html>

    