<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to SellCrea8</title>
</head>
<body>
    <p>Hello {{ username.capitalize() }},</p>
    <p>Congratulations on successfully verifying your email address! We are happy to have you on board at SellCrea8.</p>
    <p>Here is a quick overview of what you can do next: </p>
    <ol>
        <li><strong>Explore Our Platform:</strong> Discover the range of services we offer to help you grow your business.</li>
        <li><strong>Set Up Your Profile:</strong> Fill out your profile to receive personalized recommendations.</li>
        <li><strong>Start Booking:</strong> Easily book services that match your needs and preferences.</li>
    </ol>
    <p>If you have any questions or need assistance, our support team is here to help. Simply reply to this email or visit our <a href="https://www.sellcrea8.com/help-center">Help Center</a>.</p>
    <p>Welcome once again to SellCrea8. We are excited to have you onboard with us</p>
</body>
</html>

